* {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

#main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* Address Container */

#address-container {
  width: 100%;
  max-width: 600px;
  background-image: url(./dmitrii-vaccinium-9qsK2QHidmg-unsplash.jpg);
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#address-content {
  width: 100%;
  height: auto;
}

#address-content h2 {
  color: #fca311;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-shadow: 0.1em 0.1em 0.2em rgb(95, 93, 93);
}

#address-content ion-icon {
  position: relative;
  top: 2px;
  left: 0px;
}

#address-content p {
  font-weight: 600;
  margin-bottom: 8rem;
  text-shadow: 0.1em 0.1em 0.2em rgb(95, 93, 93);
}

/* Form Container */

#form-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-container h2 {
  color: #888;
  margin-bottom: 5rem;
  font-size: 3rem;
  font-weight: 300;
  padding: 2rem;
  text-align: center;
}

#contact-form {
  width: 100%;
  max-width: 560px;
  text-align: left;
  padding: 2rem;
}

#contact-form input,
#contact-form label,
#contact-form textarea {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
  width: 100%;
  color: #aaa;
}

#contact-form label {
  color: #999;
  font-weight: bold;
  border-bottom: none;
}

#contact-form input {
  margin-bottom: 4rem;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
  color: #ccc;
}

#contact-form input[type="submit"] {
  width: 100%;
  height: auto;
  background-color: rgb(235, 188, 100);
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid;
  transition: 0;
  margin-top: 4rem;
}

#contact-form input[type="submit"]:hover {
  border-color: rgb(235, 188, 100);
  color: rgb(235, 188, 100);
  background-color: #fff;
}

/* Responsive */

@media (max-width: 697px) {
  .form-container {
    font-size: 50%;
  }
  .form-container h2 {
    font-size: 50%;
  }
}

@media (max-width: 620px) {
  #main-container {
    height: 100%;
    flex-wrap: wrap;
  }

  #form-container,
  #address-container {
    flex: 1 1 100%;
  }

  #form-container {
    order: -1;
    padding: 2rem;
  }

  #form-container h2 {
    margin-bottom: 2.5rem;
  }

  #contact-form {
    width: 100%;
  }

  #contact-form input,
  #contact-form label,
  #contact-form textarea {
    border-color: #aaa;
  }

  #address-container {
    background-position: 0;
    height: 500px;
  }

  #address-cintainer {
    top: 25%;
    left: 25%;
  }
}
